

body{
    min-width: 540px
}



/* MAIN  */
div.jumbotron{
    background-color: #1abc9c;
    color: white;
}

main{
    color: rgb(44, 62, 80);
}

img.img{
    width: 20%;
}

div.jumbotron h1{
    font-weight: bold;
}

div.bar{
    margin: 1rem;
    width: 100px;
    height: 2px;
    background-color: white;
    border-radius: 1rem;
}

div.bar-dark{
    background-color:rgb(44, 62, 80);
}

i.fa-star{
    font-size: 1.5rem;
}

.my_container-65{
    width: 65%;
}

section.about{
    background-color: rgb(26, 188, 156);
    color: white;
}

button{
    background-color: rgb(26, 188, 156);
    color: white;
    border: solid 1px white;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
}

footer{
    background-color: rgb(58, 84, 109);
    color: white;
}

section.copyright{
    background-color: rgb(44, 62, 80);
    color: white;
}

